:root{
    --background-body: #f5f5f5;
    --background-white: #fff;
    --border-gray: #ccc;
    --font-red: #cd1d1d;
    --font-white: #fff;
    --font-title-black: #333;
    --font-subtext-gray: #555;
    --font-lightgray: #aaa;
    --font-darkgray: #424242;
    --font-gray: #666;
}

body{
    font-family: 'Noto Sans KR','돋움',Dotum,'굴림',Gulim, AppleGothic, Sans-serif;
}

/* header */

/* nav-top */
.nav-top-container{
    height: 45px;
    background-color: var(--background-body);
}

.nav-top{
    max-width: 1325px;
    min-width: 650px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-top-left{
    display: flex;
    justify-content: space-between;
}

.nav-top-logo{
    background-color: #d82f36;
    padding: 0 20px;
}

.nav-top-left li{
    margin-right: 20px;
    font-weight: 300;
}

.nav-top-logo a{
    line-height: 45px;
    color: var(--font-white);
    font-weight: 500;
    font-size: 12px;
}

.left-list a{
    line-height: 45px;
    font-size: 12px;
    color: var(--font-darkgray);
}

.nav-top-right{
    display: flex;
    justify-content: space-between;
}

.right-list{
    margin-right: 10px;
}

.right-list a{
    color: #888;
    line-height: 45px;
    font-size: 12px;
}

.lang-dropdown{
    position: relative;
    margin-left: 10px;
    line-height: 45px;
    background-color: var(--background-dropdown-gray);
}



.lang-dropdown-img{
    background-image: url(../img/btn_lang.png);
    background-size: 120px 42px;
    background-repeat: no-repeat;
    width: 120px;
    height: 42px;
}

.lang-dropdown-content{
    display: none;
    z-index: 50;      
    position: absolute;
    background-color: var(--background-white);
    right: 0;
    width: 111px;
    border: 1px solid var(--border-gray);
    padding: 10px 15px;
    margin-top: 3px;
    box-sizing: border-box;
}

.lang-dropdown-content a{
    display: block;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.8;
}

.lang-ko{
    color: var(--font-red);
    text-decoration: underline;
    text-underline-position: under;
}

.lang-en{
    color: #747474;
}

.lang-dropdown-content a:hover{
    color: var(--font-red);
    text-decoration: underline;
    text-underline-position: under;
}


/* nav-main */

.nav-main-container{
    position: relative;
    background-color: var(--background-header-mainnav-white);
    padding: 26px 0;
}

.nav-main{
    margin: 0 auto;
    max-width: 1325px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-main h1{
    position: relative;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}


.nav-main-right-list{
    display: flex;
}

.nav-main-right-list-title{
    font-size: 19px;
    color: var(--font-darkgray);
    font-weight: 400;
    padding: 20px 20px;
}


.nav-main-right-list a:hover{
    color: var(--font-red);
}

.nav-main-right-list li:last-child a{
    padding-right: 0;
}

.hamburger-menu{
    position: absolute;
    display: none;
    width: 35px;
    height: 33px;
    right: 30px;
    top: 36px;
    z-index: 60;
}

.hamburger-menu span{
    position: absolute;
    display: block;
    height: 3px;
    background-color: #000;
    right: 0;
}

.hamburger-line-top{
    top: 0;
    width: 35px;
}
.hamburger-line-middle{
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
}
.hamburger-line-bottom{
    bottom: 0;
    width: 35px;
}


/* nav main - dropdown */
.nav-dropdown-content{
    display: none;
    position: absolute;
    top: 86px;
    padding-top: 46px;
}

.dropdown-background{
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    background-color: var(--background-white);
    top: 112px;
}

.nav-dropdown-content li a{
    display: block;
    line-height: 1.6;
    font-size: 14px;
    color: var(--font-gray);
    padding: 3px 30px 3px 20px;
}

.nav-main-right-list:hover .nav-dropdown-content, .nav-dropdown-content:hover{
    display: block;
    height: auto;
    z-index: 10;
}

.nav-main-right-list:hover + .dropdown-background{
    display: block;
    height: 340px;
    z-index: 9;
    border-top: 1px solid var(--border-gray);    
}





/* main-slide */

.main-slide{
    position: relative;
    width: 100%;
    height: 640px;
    overflow: hidden;

}

.main-slide li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 640px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s ease-in;
}

.main-slide-img-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-slide-text-area{
    display: block;
    max-width: 1295px;
    width: 100%;
}

.main-slide-text-area{
    color: var(--font-white);
}

.main-title-small{
    font-weight: 500;
    font-size: 27px;
    line-height: 1.8;
}
.main-title-big{
    font-weight: bold;
    font-size: 50px;
    line-height: 1.25;
}

.main-subtext{
    font-weight: bold;
    font-size: 24px;
    line-height: 1.6;
    margin-top: 20px;
}

.main-slide-arrow{
    position: absolute;
    height: 15px;
    left: 320px;
    bottom: 60px;
    z-index: 5;
}

.main-slide-arrow a, span{
    line-height: 15px;
}

.sep-arrow{
    display: inline-block;
    height: 15px;
    width: 1px;
    background-color: var(--font-white);
    opacity: 0.7;
    margin: 0 20px;
}

.main-slide-img1{
    background-image: url(../img/visual_0323.jpg);
    z-index: 1; 
}

.main-slide-img2{
    background-image: url(../img/visual_0323.jpg);
    z-index: 0; 
}

.main-slide-img3{
    background-image: url(../img/visual_0512.jpg);
    z-index: 0; 
}




/* news */
.news-container{
    padding-top: 80px;
}

.news-wrapper{
    max-width: 1325px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.news-left{
    width: 77%;
    display: flex;
    justify-content: space-between;
}

.notice, .biff-news{
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
}

.news-left h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--font-lightgray);
}

.news-list{
    padding: 10px 0 20px;
}

.news-list li{
    padding-top: 30px;
    display: flex;
}

.date-area{
    width: 15%;
    color: #222;
    text-align: center;
}

.news-link-area{
    width: 85%;
    padding-left: 13px;
    box-sizing: border-box;
}

.year-and-month{
    font-size: 14px;
    font-weight: 600;   
}

.date{
    font-size: 36px;
    font-weight: 300;
    margin-top: 10px;
}

.title-text{
    display: block;
    padding-right: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    font-size: 18px;
    color: var(--font-title-black);
    font-weight: 500;
}

.sub-text{
    font-size: 15px;
    line-height: 1.6;
    font-weight: 300;
    margin-top: 15px;
    color: var(--font-subtext-gray);
}




.news-right{
    width: 23%;
}

.recruit-sponsor{
    position: relative;
    background-image: url(../img/sponsor_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    word-break: keep-all;
    color: var(--font-white);
    padding: 55px 30px 0;
    box-sizing: border-box;
}

.link-area{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.recruit-sponsor-title{
    font-size: 31px;
    line-height: 1.6;
    font-weight: 600;
}

.recruit-sponsor-subtext{
    line-height: 1.7;
    font-weight: 300;
    width: 80%;
    margin: 10px auto 0;
}

.recruit-sponsor-more{
    display: block;
    margin: 20px auto 0;
    border: 1px solid var(--font-white);
    border-radius: 25px;
    padding: 5px;
    color: var(--font-white);
    font-size: 14px;
    width: 50%;
}


/* intro */
.introduction{
    padding: 68px 0 90px;
}

.intro-list{
    display: flex;
    justify-content: space-between;
    max-width: 1325px;
    margin: 0 auto;
}

.intro-list li{
    position: relative;
    width: 31%;
}

.intro-img-area img{
    width: 100%;
    height: auto;
}

.intro-text-area{
    padding: 30px 0;
    text-align: center;
}

.intro-text-area h2{
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--font-darkgray);
    letter-spacing: -0.02em;
}

.intro-text-area p{
    font-size: 15px;
    line-height: 1.8;
    color: var(--font-gray);
    padding: 0 20px;
}




/* history slide */

.history-slide{
    padding: 90px 0;
    background-color: #2d2d2d;
}

.biff-archive{
    position: relative;
    display: none;
}

.history-container{
    max-width: 1325px;
    margin: 0 auto;
    text-align: center;
    color: var(--font-white);
}

.history-title-area h2{
    font-weight: 600;
    font-size: 40px;
}

.history-title-area p{
    font-weight: 300;
    font-size: 18px;
    margin-top: 15px;
}

.history-slide-container{
    position: relative;
    padding: 60px 0;
}

.slide-controller{
    position: relative;
    margin: 0 auto;
    width: 1225px;
    height: 0;
}

.slide-controller a{
    position: absolute;
    display: block;
    top: 70px;
    background-size: 29px 49px;
    width: 29px;
    height: 49px;
}

.button-prev{
    left: 1%;
    background-image: url(../img/i_arrow02_l.png);
}

.button-next{
    right: 1%;
    background-image: url(../img/i_arrow02_r.png);
}

.history-slide-frame{
    margin: 0 auto;
    width: 1064px;
    overflow: hidden;
}

.history-slide-list{
    display: flex;
    flex-wrap: nowrap;
    transform: translateX(-471px);
}

.history-slide-list li{
    margin-right: 35px;
}

.history-slide-img img{
    width: 122px;
    height: 183px;
}

.history-slide-number{
    display: block;
    margin-top: 15px;
    color: var(--font-white);
    font-size: 14px;
}

.history-search{
    display: inline-block;
    padding: 20px 40px 20px 30px;
    background-color: #111;
    border-radius: 35px;
    transition: .1s;
}

.history-search span{
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
    transition: .1s;
}

.history-search span::before{
    display: inline-block;
    content: '';
    background-image: url(../img/btn_filmsearch_bg.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    vertical-align: middle;
    padding-right: 10px;
    width: 18px;
    height: 18px;
    transition: .1s;
}

.history-search:hover{
    background-color: var(--background-white);
}

.history-search:hover span{
    color: #111;
}

.history-search:hover span::before{
    filter: invert(100%);
}



/* sns */
.sns-container{
    padding: 80px 0;
}

.sns{
    text-align: center;
}

.sns-title{
    font-size: 40px;
    font-weight: 600;
    color: var(--font-title-black);
}

.sns-subtext{
    margin-top: 15px;
    font-size: 18px;
    color: var(--font-subtext-gray);
    font-weight: 300;
}

.sns-links-area{
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    width: 334px;
}

.sns-links-area a{
    position: relative;
}

.sns-links-area figure{
    background-repeat: no-repeat;
    background-size: 76px 76px;
    width: 76px;
    height: 76px;
}

.sns-img-facebook{
    background-image: url(../img/sns_i_facebook.png);
}

.sns-img-twitter{
    background-image: url(../img/sns_i_twitter.png);
}

.sns-img-instagram{
    background-image: url(../img/sns_i_instagram.png);
}

.sns-img-youtube{
    background-image: url(../img/sns_i_youtube.png);
}

.sns-links-area a:hover figure{
    background-image: url(../img/sns_i_link.png);
}



/* sponsor */
.sponsor-container{
    border-top: 1px solid #ebeef3;
    padding: 30px 0;
}

.sponsor-list{
    display: flex;
    max-width: 1325px;
    margin: 0 auto;
}

.sponsor-list li{
    width: 25%;
}

.sponsor-list a{
    display: block;
    margin: 0 auto;
    width: 130px;
}

/* footer */
footer{
    padding: 40px 0;
    background-color: #252525;
}

.footer-container{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.footer-nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left-nav-list{
    display: flex;
}

.footer-left-nav-list a{
    padding: 0 10px;
    color: #ddd;
    font-size: 15px;
}

.footer-left-nav-list li:first-child a{
    padding-left: 0;
}

.footer-left-nav-list li::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 14px;
    background-color: #555;
    transform: translateY(-1px);
}

.footer-left-nav-list li:last-child::after{
    display: none;
}

.footer-right-nav-list{
    display: flex;
    padding-right: 95px;
}

.footer-right-nav-list li{
    padding: 0 17px;
}

.contact{
    margin-top: 20px;
}

.location{
    margin-bottom: 5px;
    
}

.location dt, .location dd{
    display: inline-block;
}

.place-name{
    color: #888;
    font-size: 15px;
    line-height: 1.7;
    font-weight: 600;
}

.address, .tel{
    font-size: 15px;
    line-height: 1.7;
    color: var(--font-lightgray);
}

.address{
    padding-left: 9px;
}

.map a{
    display: block;
    border: 1px solid #888;
    border-radius: 20px;
    padding: 5px 10px 6px 8px;
    margin: 0 3px;
    font-size: 12px;
    color: var(--font-lightgray);
    box-sizing: border-box;
    transition: .2s;
}

.map a:hover{
    color: var(--font-white);
}

.copyright{
    margin-top: 25px;
    color: #656565;
    font-size: 13px;
}

.copyright a{
    display: inline-block;
    color: var(--font-darkgray);
    margin-left: 4px;
}

.scroll-top{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-image: url(../img/btn_top.png);
    background-repeat: no-repeat;
    background-size: 55px 55px;
    width: 55px;
    height: 55px;
    z-index: 10;
}


@media screen and (max-width: 1240px) {
    .nav-main-right-list:hover .nav-dropdown-content, 
    .nav-main-right-list:hover + .dropdown-background{
        display: none;
    }
}


@media screen and (max-width: 1024px) {
    /* nav main */
    .nav-main-right-list{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }

    .nav-main-container{
        padding: 26px 35px;
    }
    .nav-dropdown-content{
        display: none;
    }
    .nav-main-logo{
        width: 25%;
    }
    .nav-main-logo-img img{
        width: 100%;
        height: auto;
    }

    /* nav top */
    .nav-top-container{
        display: none;
    }


    /* main slide */
    .main-slide-img-area{
        padding-left: 30px;
    }
    .main-title-small{
        font-size: 20px;
    }
    .main-title-big{
        font-size: 34px;
        margin-top: 40px;
    }
    .main-subtext{
        font-size: 20px;
    }
    .main-slide-arrow{
        left: 40px;
    }


    /* news */
    .news-container{
        padding: 0;
    }
    .news-wrapper{
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
    }
    .news-left{
        width: 75%;
        flex-wrap: wrap;
    }
    .notice, .biff-news{
        width: 100%;
        padding: 30px 55px;
        border-bottom: 1px solid var(--border-gray);
    }
    .news-list{
        padding: 10px 0 10px;
    }
    .news-list li{
        padding: 30px 0 10px;
    }
    .news-left h2{
        font-size: 26px;
    }
    .date-area{
        text-align: left;
    }
    .year-and-month{
        font-size: 20px;
    }
    .date{
        font-size: 50px;
        margin-left: -10px;
    }
    .title-text{
        font-size: 24px;
    }
    .sub-text{
        font-size: 22px;
    }

    .news-right{
        width: 100%;
        border: 1px solid #ebeef3;
    }
    .recruit-sponsor{
        background-image: url(../img/sponsor_bg_m.jpg);
        background-size: 768px auto;
        height: 194px;
        padding: 25px 30px;
    }
    .recruit-sponsor-subtext{
        line-height: 1.7;
        font-weight: 300;
        width: 100%;
        margin: 10px auto;
    }
    .sentence-sep{
        display: none;
    }
    .recruit-sponsor-more{
        margin: 20px auto 0;
        padding: 6px;
        width: 40%;
    }


    /* intro */
    .introduction{
        padding: 68px 0 0;
    }

    .intro-list{
        padding: 0 15px;
    }



    /* history slide */
    .history-slide{
        padding: 0;
    }
    .history-container{
        display: none;
    }
    .biff-archive{
        display: block;
    }
    .biff-archive img{
        display: block;
        margin: 0 auto;
    }


    /* sns */
    .sns-container{
        padding: 40px 0;
    }
    .sns{
        width: 657px;
        margin: 0 auto;
    }
    .sns-title{
        font-size: 30px;
    }
    .sns-subtext{
        display: none;
    }
    .sns-links-area{
        margin: 60px auto 0;
    }


    /* sponsor */
    .sponsor-container{
        padding: 30px 15px;
    }
    .sponsor-list li{
        width: 20%;
    }
    .sponsor-list img{
        width: 110px;
        height: auto;
    }


    /* footer */
    .footer-right-nav-list{
        display: none;
    }
    .scroll-top{
        top: auto;
        right: auto;
        bottom: 0;
        right: 20px;
    }
}

@media screen and (max-width: 1080px) {
    .nav-main-logo{
        width: 22%;
    }
    .nav-main-logo-img img{
        width: 100%;
        height: auto;
    }
}
    

@media screen and (max-width: 768px) {
    /* nav main */
    .nav-main-logo{
        width: auto;
    }
    .nav-main-logo-img img{
        width: auto;
    }


    /* main slide */
    .main-slide-arrow{
        display: none;
    }


    /* news */
    .news-left{
        width: 100%;
    }
    .notice, .biff-news{
        min-width: 657px;
    }
    .recruit-sponsor{
        min-width: 657px;
    }


    /* intro */
    .introduction{
        padding: 68px 15px 90px;
    }
    .intro-list{
        flex-wrap: wrap;
        min-width: 657px;
    }
    .intro-list li{
        width: 70%;
        margin: 20px auto 0;
    }
    .intro-text-area{
        padding: 20px 0;
    }
    .intro-text-area h2{
        font-size: 28px;
        line-height: 1.5;
        font-weight: 600;
        margin-bottom: 4px;
    }
    .intro-text-area p{
        font-size: 20px;
    }

    /* history slide */
    .history-slide{
        min-width: 657px;
    }
    .biff-archive img{
        width: 100%;
        height: auto;
    }

    /* sponsor */
    .sponsor-container{
        min-width: 657px;
    }
}






