:root{
    --background-white: #f5f5f5;
    --background-header-red: #d82f36;
    --background-header-dropdown-white: #fff;
    --background-header-main-nav-white: #fff;
    --background-slide-black: #2d2d2d;
    --background-slide-search-black: #111;
    --background-footer-black: #252525;
    --background-footer-sep: #555;
    --border-header-dropdown-gray: #ccc;
    --border-sponsor-gray: #ebeef3;
    --border-footer-gray: #888;
    --font-header-dropdown-darkgray: #747474;
    --font-header-dropdown-red: #cd1d1d;
    --font-white: #fff;
    --font-news-gray: #aaa;
    --font-news-black: #222;
    --font-title-black: #333;
    --font-subtext-gray: #555;
    --font-header-gray: #424242;
    --font-header-lightgray: #888;
    --font-intro-gray: #666;
    --font-slide-search-gray: #ccc;
    --font-slide-search-black: #111;
    --font-footer-nav-gray: #ddd;
    --font-footer-description-gray: #888;
    --font-footer-description-light-gray: #aaa;
    --font-footer-copyright: #656565;
    --font-footer-made-by: #424242;
}

body{
    font-family: 'Noto Sans KR','돋움',Dotum,'굴림',Gulim, AppleGothic, Sans-serif;
}

/* header */

/* nav-top */
.nav-top-container{
    height: 45px;
    background-color: var(--background-white);
}

.nav-top{
    max-width: 1325px;
    min-width: 650px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-top-left{
    display: flex;
    justify-content: space-between;
}

.nav-top-logo{
    background-color: var(--background-header-red);
    padding: 0 20px;
}

.nav-top-left li{
    margin-right: 20px;
    font-weight: 300;
}

.nav-top-logo a{
    line-height: 45px;
    color: var(--font-white);
    font-weight: 500;
    font-size: 12px;
}

.left-list a{
    line-height: 45px;
    font-size: 12px;
    color: var(--font-header-gray);
}

.nav-top-right{
    display: flex;
    justify-content: space-between;
}

.right-list{
    margin-right: 10px;
}

.right-list a{
    color: var(--font-header-lightgray);
    line-height: 45px;
    font-size: 12px;
}

.lang-dropdown{
    position: relative;
    margin-left: 10px;
    line-height: 45px;
    background-color: var(--background-dropdown-gray);
}



.lang-dropdown-img{
    background-image: url(../img/btn_lang.png);
    background-size: 120px 42px;
    background-repeat: no-repeat;
    width: 120px;
    height: 42px;
}

.lang-dropdown-content{
    display: none;
    z-index: 50;      
    position: absolute;
    background-color: var(--background-header-dropdown-white);
    right: 0;
    width: 111px;
    border: 1px solid var(--border-header-dropdown-gray);
    padding: 10px 15px;
    margin-top: 3px;
    box-sizing: border-box;
}

.lang-dropdown-content a{
    display: block;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.8;
}

.lang-ko{
    color: var(--font-header-dropdown-red);
    text-decoration: underline;
    text-underline-position: under;
}

.lang-en{
    color: var(--font-header-dropdown-darkgray);
}

.lang-dropdown-content a:hover{
    color: var(--font-header-dropdown-red);
    text-decoration: underline;
    text-underline-position: under;
}


/* nav-main */

.nav-main-container{
    position: relative;
    background-color: var(--background-header-mainnav-white);
}

.nav-main{
    margin: 0 auto;
    max-width: 1325px;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-main-logo-img{
    background-image: url(../img/toplogo.png);
    background-size: 244px 58px;
    background-repeat: no-repeat;
    margin-left: 15px;
    width: 244px;
    height: 58px;
}

.nav-main h1{
    position: relative;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.nav-main-right>ul{
    display: flex;
}

.nav-main-right-list-title{
    font-size: 19px;
    color: var(--font-header-gray);
    font-weight: 400;
    padding: 20px 20px;
}

.nav-main-right-list a:hover{
    color: var(--background-header-red);
}

.nav-dropdown-content{
    display: none;
    position: absolute;
}

.hamburger-menu{
    display: none;
}



/* main-slide */

.main-slide{
    position: relative;
    width: 100%;
    height: 640px;
    overflow: hidden;

}

.main-slide li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 640px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s ease-in;
}

.main-slide-img-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-slide-text-area{
    display: block;
    max-width: 1295px;
    width: 100%;
}

.main-slide-text-area{
    color: var(--font-white);
}

.main-title-small{
    font-weight: 500;
    font-size: 27px;
    line-height: 1.8;
}
.main-title-big{
    font-weight: bold;
    font-size: 50px;
    line-height: 1.25;
}

.main-subtext{
    font-weight: bold;
    font-size: 24px;
    line-height: 1.6;
    margin-top: 20px;
}

.main-slide-arrow{
    position: absolute;
    height: 15px;
    left: 320px;
    bottom: 60px;
    z-index: 10;
}

.main-slide-arrow a, span{
    line-height: 15px;
}

.sep-arrow{
    display: inline-block;
    height: 15px;
    width: 1px;
    background-color: var(--font-white);
    opacity: 0.7;
    margin: 0 20px;
}

.main-slide-img1{
    background-image: url(../img/visual_0323.jpg);
    z-index: 1; 
}

.main-slide-img2{
    background-image: url(../img/visual_0323.jpg);
    z-index: 0; 
}

.main-slide-img3{
    background-image: url(../img/visual_0512.jpg);
    z-index: 0; 
}



/* news */
.news-container{
    padding-top: 80px;
}

.news-wrapper{
    max-width: 1325px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.news-left{
    width: 77%;
    display: flex;
    justify-content: space-between;
}

.notice, .biff-news{
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
}

.news-left h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--font-news-gray);
}

.news-list{
    padding: 10px 0 20px;
}

.news-list li{
    padding-top: 30px;
    display: flex;
}

.date-area{
    width: 15%;
    color: var(--font-news-black);
    text-align: center;
}

.news-link-area{
    width: 85%;
    padding-left: 13px;
    box-sizing: border-box;
}

.year-and-month{
    font-size: 14px;
    font-weight: 600;   
}

.date{
    font-size: 36px;
    font-weight: 300;
    margin-top: 10px;
}

.title-text{
    display: block;
    padding-right: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    font-size: 18px;
    color: var(--font-title-black);
    font-weight: 500;
}

.sub-text{
    font-size: 15px;
    line-height: 1.6;
    font-weight: 300;
    margin-top: 15px;
    color: var(--font-subtext-gray);
}




.news-right{
    width: 23%;
}

.recruit-sponsor{
    position: relative;
    background-image: url(../img/sponsor_bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    word-break: keep-all;
    color: var(--font-white);
    padding: 55px 30px 0;
    box-sizing: border-box;
}

.link-area{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.recruit-sponsor-title{
    font-size: 31px;
    line-height: 1.6;
    font-weight: 600;
}

.recruit-sponsor-subtext{
    line-height: 1.7;
    font-weight: 300;
    width: 80%;
    margin: 10px auto 0;
}

.recruit-sponsor-more{
    display: block;
    margin: 20px auto 0;
    border: 1px solid var(--font-white);
    border-radius: 25px;
    padding: 5px;
    color: var(--font-white);
    font-size: 14px;
    width: 50%;
}


/* intro */
.introduction{
    padding: 68px 0 90px;
}

.intro-list{
    display: flex;
    justify-content: space-between;
    max-width: 1325px;
    margin: 0 auto;
}

.intro-list li{
    position: relative;
    width: 31%;
}

.intro-img-area{
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 252px;
}

.intro-img-contents-market{
    background-image: url(../img/family_acfm.jpg);
}

.intro-img-project-market{
    background-image: url(../img/family_apm.jpg);
}

.intro-img-project-community{
    background-image: url(../img/family_cb.jpg);
}

.intro-text-area{
    padding: 30px 20px;
    text-align: center;
}

.intro-text-area h2{
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 8px;
}

.intro-text-area p{
    font-size: 15px;
    line-height: 1.8;
    color: var(--font-intro-gray);
}




/* history slide */

.history-slide{
    padding: 90px 0;
    background-color: var(--background-slide-black);
}

.history-container{
    max-width: 1325px;
    margin: 0 auto;
    text-align: center;
    color: var(--font-white);
}

.history-title-small{
    display: none;
}

.history-title-area h2{
    font-weight: 600;
    font-size: 40px;
}

.history-title-area p{
    font-weight: 300;
    font-size: 18px;
    margin-top: 15px;
}

.history-slide-container{
    position: relative;
    padding: 60px 0;
}

.slide-controller{
    position: relative;
    margin: 0 auto;
    width: 1225px;
    height: 0;
}

.slide-controller a{
    position: absolute;
    display: block;
    top: 70px;
    background-size: 29px 49px;
    width: 29px;
    height: 49px;
}

.button-prev{
    left: 1%;
    background-image: url(../img/i_arrow02_l.png);
}

.button-next{
    right: 1%;
    background-image: url(../img/i_arrow02_r.png);
}

.history-slide-frame{
    margin: 0 auto;
    width: 1064px;
    overflow: hidden;
}

.history-slide-list{
    display: flex;
    flex-wrap: nowrap;
    transform: translateX(-471px);
}

.history-slide-list li{
    margin-right: 35px;
}

.history-slide-img img{
    width: 122px;
    height: 183px;
}

.history-slide-number{
    display: block;
    margin-top: 15px;
    color: var(--font-white);
    font-size: 14px;
}

.history-search{
    display: inline-block;
    padding: 20px 40px 20px 30px;
    background-color: var(--background-slide-search-black);
    border-radius: 35px;
    transition: .1s;
}

.history-search span{
    color: var(--font-slide-search-gray);
    font-size: 16px;
    font-weight: 500;
    transition: .1s;
}

.history-search span::before{
    display: inline-block;
    content: '';
    background-image: url(../img/btn_filmsearch_bg.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    vertical-align: middle;
    padding-right: 10px;
    width: 18px;
    height: 18px;
    transition: .1s;
}

.history-search:hover{
    background-color: var(--background-white);
}

.history-search:hover span{
    color: var(--font-slide-search-black);
}

.history-search:hover span::before{
    filter: invert(100%);
}



/* sns */
.sns-container{
    padding: 80px 0;
}

.sns{
    text-align: center;
}

.sns-title{
    font-size: 40px;
    font-weight: 600;
    color: var(--font-title-black);
}

.sns-subtext{
    margin-top: 15px;
    font-size: 18px;
    color: var(--font-subtext-gray);
    font-weight: 300;
}

.sns-links-area{
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 334px;
}

.sns-links-area a{
    position: relative;
}

.sns-links-area figure{
    background-repeat: no-repeat;
    background-size: 76px 76px;
    width: 76px;
    height: 76px;
}

.sns-img-facebook{
    background-image: url(../img/sns_i_facebook.png);
}

.sns-img-twitter{
    background-image: url(../img/sns_i_twitter.png);
}

.sns-img-instagram{
    background-image: url(../img/sns_i_instagram.png);
}

.sns-img-youtube{
    background-image: url(../img/sns_i_youtube.png);
}

.sns-links-area a:hover figure{
    background-image: url(../img/sns_i_link.png);
}



/* sponsor */
.sponsor-container{
    border-top: 1px solid var(--border-sponsor-gray);
    padding: 30px 0;
}

.sponsor-list{
    display: flex;
    max-width: 1325px;
    margin: 0 auto;
}

.sponsor-list li{
    width: 25%;
}

.sponsor-list a{
    display: block;
    margin: 0 auto;
    width: 130px;
}

/* footer */
footer{
    padding: 40px 0;
    background-color: var(--background-footer-black);
}

.footer-container{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.footer-nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left-nav-list{
    display: flex;
}

.footer-left-nav-list a{
    padding: 0 10px;
    color: var(--font-footer-nav-gray);
    font-size: 15px;
}

.footer-left-nav-list li:first-child a{
    padding-left: 0;
}

.footer-left-nav-list li::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 14px;
    background-color: var(--background-footer-sep);
    transform: translateY(-1px);
}

.footer-left-nav-list li:last-child::after{
    display: none;
}

.footer-right-nav-list{
    display: flex;
    padding-right: 95px;
}

.footer-right-nav-list li{
    padding: 0 17px;
}

.contact{
    margin-top: 20px;
}

.location{
    margin-bottom: 5px;
    
}

.location dt, .location dd{
    display: inline-block;
}

.place-name{
    color: var(--font-footer-description-gray);
    font-size: 15px;
    line-height: 1.7;
    font-weight: 600;
}

.address, .tel{
    font-size: 15px;
    line-height: 1.7;
    color: var(--font-footer-description-light-gray);
}

.address{
    padding-left: 9px;
}

.map a{
    display: block;
    border: 1px solid var(--border-footer-gray);
    border-radius: 20px;
    padding: 6px 8px 4px;
    margin: 0 3px;
    font-size: 12px;
    color: var(--font-footer-description-light-gray);
    box-sizing: border-box;
    transition: .2s;
}

.map a:hover{
    color: var(--font-white);
}

.copyright{
    margin-top: 25px;
    color: var(--font-footer-copyright);
    font-size: 13px;
}

.copyright a{
    display: inline-block;
    color: var(--font-footer-made-by);
    margin-left: 4px;
}

.scroll-top{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    background-image: url(../img/btn_top.png);
    background-repeat: no-repeat;
    background-size: 55px 55px;
    width: 55px;
    height: 55px;
    z-index: 10;
}



/* 1024 햄버거메뉴, 1008 nav-right none*/
@media screen and (max-width: 768px) {
    .main-slide-arrow{
        display: none;
    }
}


@media screen and (max-width: 1024px) {
    .nav-top-container{
        display: none;
    }

    .main-slide-img-area{
        padding-left: 30px;
    }
    .main-title-small{
        font-size: 20px;
    }
    .main-title-big{
        font-size: 34px;
        margin-top: 40px;
    }
    .main-subtext{
        font-size: 20px;
    }
    .main-slide-arrow{
        left: 40px;
    }
    
}

@media screen and (max-width: 1088px) {
    .nav-main-right{
        display: none;
    }
}

@media screen and (max-width: 1240px) {
    .nav-dropdown-content{
        display: none;
    }
}