:root{
    --background-white: #f5f5f5;
    --background-header-red: #d82f36;
    --background-header-dropdown-white: #fff;
    --background-header-main-nav-white: #fff;
    --border-header-dropdown-lightgray: #ccc;
    --font-header-dropdown-darkgray: #747474;
    --font-header-dropdown-red: #cd1d1d;
    --font-white: #fff;
    --font-header-gray: #424242;
    --font-header-lightgray: #888;
}

body{
    font-family: 'Noto Sans KR','돋움',Dotum,'굴림',Gulim, AppleGothic, Sans-serif;
}

/* header */

/* nav-top */
.nav-top-container{
    height: 45px;
    background-color: var(--background-white);
}

.nav-top{
    max-width: 1325px;
    min-width: 650px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-top-left{
    display: flex;
    justify-content: space-between;
}

.nav-top-logo{
    background-color: var(--background-header-red);
    padding: 0 20px;
}

.nav-top-left li{
    margin-right: 20px;
    font-weight: 300;
}

.nav-top-logo a{
    line-height: 45px;
    color: var(--font-white);
    font-weight: 500;
    font-size: 12px;
}

.left-list a{
    line-height: 45px;
    font-size: 12px;
    color: var(--font-header-gray);
}

.nav-top-right{
    display: flex;
    justify-content: space-between;
}

.right-list{
    margin-right: 10px;
}

.right-list a{
    color: var(--font-header-lightgray);
    line-height: 45px;
    font-size: 12px;
}

#lang-dropdown{
    position: relative;
    margin-left: 10px;
    line-height: 45px;
    background-color: var(--background-dropdown-gray);
}

#lang-dropdown img{
    display: block;
}

.lang-dropdown-content{
    display: none;
    z-index: 50;      
    position: absolute;
    background-color: var(--background-header-dropdown-white);
    right: 0;
    width: 111px;
    border: 1px solid var(--border-header-dropdown-lightgray);
    padding: 10px 15px;
    margin-top: 3px;
    box-sizing: border-box;
}

.lang-dropdown-content a{
    display: block;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.8;
}

.lang-ko{
    color: var(--font-header-dropdown-red);
    text-decoration: underline;
    text-underline-position: under;
}

.lang-en{
    color: var(--font-header-dropdown-darkgray);
}

.lang-dropdown-content a:hover{
    color: var(--font-header-dropdown-red);
    text-decoration: underline;
    text-underline-position: under;
}


/* nav-main */

.nav-main-container{
    position: relative;
    background-color: var(--background-header-mainnav-white);
}

.nav-main{
    margin: 0 auto;
    max-width: 1295px;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-main-logo-img{
    background-image: url(../img/toplogo.png);
    background-size: 244px 58px;
    width: 244px;
    height: 58px;
    
}

.nav-main h1{
    position: relative;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.nav-main-right>ul{
    display: flex;
}

.nav-main-right-list-title{
    font-size: 19px;
    color: var(--font-header-gray);
    font-weight: 400;
    padding: 20px 20px;
}

.nav-main-right-list a:hover{
    color: var(--background-header-red);
}

.nav-dropdown-content{
    display: none;
    position: absolute;
}

.hamburger-menu{
    display: none;
}



/* main-slide */

.main-slide{
    position: relative;
    width: 100%;
    height: 640px;
    overflow: hidden;

}

.main-slide li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 640px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s ease-in;
}

.main-slide-img-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-slide-text-area{
    display: block;
    max-width: 1295px;
    width: 100%;
}

.main-slide-text-area{
    color: var(--font-white);
}

.main-title-small{
    font-weight: 500;
    font-size: 27px;
    line-height: 1.8;
}
.main-title-big{
    font-weight: bold;
    font-size: 50px;
    line-height: 1.25;
}

.main-subtext{
    font-weight: bold;
    font-size: 24px;
    line-height: 1.6;
    margin-top: 20px;
}

.main-slide-arrow{
    position: absolute;
    height: 15px;
    left: 320px;
    bottom: 60px;
    z-index: 10;
}

.main-slide-arrow a, span{
    line-height: 15px;
}

.sep-arrow{
    display: inline-block;
    height: 15px;
    width: 1px;
    background-color: var(--font-white);
    opacity: 0.7;
    margin: 0 20px;
}

.main-slide-img1{
    background-image: url(../img/visual_0323.jpg);
    z-index: 1; 
}

.main-slide-img2{
    background-image: url(../img/visual_0323.jpg);
}

.main-slide-img3{
    background-image: url(../img/visual_0512.jpg);
    
}



 









/* 1024 햄버거메뉴, 1008 nav-right none*/
@media screen and (max-width: 768px) {
    .main-slide-arrow{
        display: none;
    }
}


@media screen and (max-width: 1024px) {
    .nav-top-container{
        display: none;
    }

    .main-slide-img-area{
        padding-left: 30px;
    }
    .main-title-small{
        font-size: 20px;
    }
    .main-title-big{
        font-size: 34px;
        margin-top: 40px;
    }
    .main-subtext{
        font-size: 20px;
    }
    .main-slide-arrow{
        left: 40px;
    }
    
}

@media screen and (max-width: 1088px) {
    .nav-main-right{
        display: none;
    }
}

@media screen and (max-width: 1240px) {
    .nav-dropdown-content{
        display: none;
    }
}