  /* 보여줄 구간의 높이와 넓이 설정 */
#slideShow{
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;   
    /*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에,
    hidden으로 숨겨줘야됨*/
}
  
.slides img{
    width: 300px;
    height: 300px;
}
  
.slides{
    position: absolute;
    left: -300px;  /* 1번 이미지부터 보이게 함 */
    top: 0;
    width: 2400px; /* 슬라이드할 사진과 마진 총 넓이 */ 
}

.slides li{
    float: left;
}

.controller-arrow{
    position:absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}
  
.controller-arrow span{
    background-color: transparent;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 1.3em;
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
}

.controller-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 85px;
    height: 3px;
}

.controller-button span{
    display: block;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}

.controller-button span:hover{
    border-color: darkblue;
}