:root{
    --background-main: #f7f8fa;
    --background-white: #fff;
    --background-green: #21c531;
    --background-btn-green: #0dcb67;
    --background-cookie: rgba(34, 34, 34, 0.96);
    --background-btn-gray:#999;
    --background-dark-blue: #2a3038;
    --font-green: #2ecc71;
    --font-login: #fafafa;
    --font-dark: #222;
    --font-dark-gray: #333;
    --font-dark-gray2: #444;
    --font-light-gray: #666;
    --font-light-gray2: #777;
    --font-light-gray3: #999;
    --font-light-gray4: #b3b3b3;
    --font-white: #fff;
    --font-cookie: rgba(255,255,255,.7);
    --border-light-gray: #e1e1e1;
    --border-gray: #888;
    --min-width: 1017px;
}


/* dropdown */
.dropdown-content {
    display: none;
}



body{
    background-color: var(--background-main);
    min-width: var(--min-width);
}

/* header */
header{
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

h1 a{
    display: block;
    background: url('../img/spr_intro.png');
    background-repeat: no-repeat;
    background-position: 0 -98px;
	width: 78px;
	height: 29px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

header nav ul{
    display: flex;
    align-items: center;
}

header nav li{
    margin-left: 30px;
}

.nav-contents{
    color: var(--font-dark);
    font-size: 14px;
}

.nav-contents:hover{
    text-decoration: underline;
}

.h-login{
    display: block;
    width: 80px;
    height: 35px;
    background-color: var(--background-green);
    text-align: center;
    line-height: 35px;
    color: var(--font-login);
    font-size: 14px;
    font-weight: 600;
}

#dropbtn::after{
    display: inline-block;
    margin: 0 0 2px 6px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #777;
    content: '';
}


/* main */
/* slogan */
#slogan{
    display: flex;
    justify-content: center;
    padding-top: 76px;

}

.slogan-img{
    background-image: url(../img/bg_sloganImg.jpg);
    background-repeat: no-repeat;
    background-size: 540px auto;
    min-width: 540px;
    height: 695px;
}

.signup{
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 50px;
    padding-bottom: 100px;
}

.signup h2{
    font-size: 48px;
    color: var(--font-dark);
}

.explanation{
    color: var(--font-dark-gray2);
    font-size: 16px;
    margin-top: 25px;
}

.register{
    display: block;
    width: 340px;
    height: 54px;
    border-radius: 2px;
    line-height: 54px;
    text-align: center;
    box-sizing: border-box;
}

#main-login{
    background-color: var(--background-green);
    color: var(--font-white);
    box-shadow: 0 0 0 1px #18c228;
    margin-top: 25px;
}

#main-login:hover{
    box-shadow: 1px 5px 10px 1px rgba(24, 194, 40, 0.3);
}

#main-signin{
    background-color: var(--background-white);
    color: var(--font-dark-gray);
    box-shadow: 0 0 0 1px #f3f3f3;
    margin: 12px 0 26px 0;
}

#main-signin:hover{
    box-shadow: 1px 0px 3px 2px rgba(210, 210, 210, 0.3);
}

.tip{
    font-size: 13px;
    color: var(--font-dark-gray2);
    margin-top: 10px;
}

.tip-anchor{
    color: var(--font-green);
    text-decoration: underline;
    font-weight: 600;
    margin-left: 7px;
}



/* intro */
#introduction{
    padding-bottom: 60px;
    background-color: var(--background-white);
}

.intro-img{
    background-image: url(../img/bg_intro.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.intro-img h3{
    color: var(--font-white);
    font-size: 42px;
}

.intro-img p{
    color: var(--font-white);
    font-size: 16px;
    margin-top: 25px;
    line-height: 1.7;
}

.intro-list{
    margin: 45px auto;
    display: flex;
    justify-content: space-between;
    width: var(--min-width);
    padding: 0 12px;
    box-sizing: border-box;
}

.intro-list li{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.intro-list li .intro-list-img{
    width: 300px;
    height: 160px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: 300px 160px;
}

#list-img1{
    background-image: url(../img/img_seo01.jpg);
}
#list-img2{
    background-image: url(../img/img_seo02.jpg);
}
#list-img3{
    background-image: url(../img/img_seo03.jpg);
}

.intro-list li strong{
    margin-top: 16px;
    color: var(--font-dark);
    font-size: 24px;
}

.intro-list li p{
    line-height: 1.6;
    margin-top: 15px;
    font-size: 15px;
}


/* recommendation */
#recommendation{
    padding: 50px 0;
    margin: 0 auto;
    width: var(--min-width);
}

.recommend-header{
    display: flex;
    justify-content: space-between;
}

.recommend-header h3{
    color: var(--font-dark);
    font-size: 24px;
}

.recommend-header a{
    color: var(--font-dark-gray2);
    font-size: 14px;
}

.recommend-header a::after{
    display: inline-block;
    margin: 3px 0 0 5px;
    width: 6px;
    height: 10px;
    content: '';
    background-repeat: no-repeat;
    background-image: url(../img/spr_intro.png);
    background-position: -116px -129px;
}

.recommend-area{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.recommend-area li{
    position: relative;
    width: 50%;
    margin-top: 30px;
}

.recommend-area img{
    width: 93px;
    height: 93px;
}

.recommend-list{
    display: flex;
    align-items: center;
}

.list-anchor{
    position: absolute;
    width: 508.5px;
    height: 96px;
    left: 0;
    top: 0;
    background-color: transparent;
}

.bandinfo{
    padding: 0 20px 0 12px;
}

.band-name{
    position: relative;
    color: var(--font-dark);
    font-weight: 600;
    font-size: 14px;
}

.band-name:hover{
    text-decoration: underline;
}

.band-subtext{
    margin-top: 9px;
    color: var(--font-light-gray);
    font-size: 13px;
}

.band-member{
    margin-top: 9px;
    color: var(--font-light-gray3);
    font-size: 12px;
}

.more-link{
    position: relative;
    display: inline-block;
    margin-top: 9px;
    padding: 0 8px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    color: var(--font-light-gray2);
    background-color: var(--background-white);
    border-radius: 25px;
    border: 1px solid var(--border-light-gray);
}

.more-link strong{
    color: var(--font-dark-gray);
    font-weight: bolder;
}

.more-link::after{
    display: inline-block;
    margin: 9px 0 0 2px;
    vertical-align: top;
    width: 6px;
    height: 10px;
    content: '';
    background-repeat: no-repeat;
    background-image: url(../img/spr_intro.png);
    background-position: -116px -129px;
}

.more-link:hover{
    border: 1px solid var(--border-gray);
}


/* bandapp */
#bandapp{
    width: 100%;
    height: 130px;
    background-color: var(--background-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-wrapper{
    width: var(--min-width);
    display: flex;
    justify-content: space-between;

}

.download-explanation{
    display: flex;
    align-items: center;
}

.bandapp-logo{
    background: url('../img/spr_intro.png');
    background-repeat: no-repeat;
    background-position: -162px 0;
	width: 70px;
	height: 70px;
}

.adtext{
    padding-left: 20px;
}

.adtext h3{
    font-size: 23px;
    color: var(--font-dark);
}

.adtext p{
    font-size: 14px;
    color: var(--font-light-gray);
    margin-top: 8px;
}

.download-link{
    display: flex;
    align-items: center;
}

.android-app{
    display: block;
    background: url('../img/spr_intro.png');
    background-repeat: no-repeat;
    background-position: 0 0;
	width: 160px;
	height: 47px;
}

.ios-app{
    display: block;
    background: url('../img/spr_intro.png');
    background-repeat: no-repeat;
    background-position: 0 -49px;
	width: 160px;
	height: 47px;
    margin-left: 10px;
}



/* cookie */
#cookie{
    position: sticky;
    background-color: var(--background-cookie);
    height: 50px;
    z-index: 10;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.cookie-wrapper{
    width: var(--min-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moreandsetting{
    color: var(--font-cookie);
    text-decoration: underline;
    padding-left: 7px;
}

.moreandsetting:hover{
    text-decoration: none;
}

.cookie-explanation{
    font-size: 14px;
    color: var(--font-white);
}

.cookie-btn-wrapper{
    display: flex;
}

.cookie-btn{
    display: block;
    color: var(--font-white);
    padding: 0 12px;
    height: 26px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 26px;
}

#deny{
    background-color: var(--background-btn-gray);
}

#allow{
    background-color: var(--background-btn-green);
    margin-left: 7px;
}


/* footer */
footer{
    background-color: var(--background-dark-blue);
    min-width: var(--min-width);
    padding: 25px 0 35px;
    display: flex;
    justify-content: center;
}

.footer-nav-wrapper{
    width: var(--min-width);
}

.footer-nav{
    display: flex;
    flex-wrap: wrap;
}

.footer-nav a{
    font-size: 13px;
    color: var(--font-light-gray2);
    line-height: 1.5;
}

.footer-nav-list::after{
    display: inline-block;
    content: '';
    background-color: var(--font-light-gray2);
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin: 0 10px 3px;
}

#highlight{
    color: var(--font-light-gray4);
    font-weight: 600;
}

#highlight:hover{
    text-decoration: underline;
}

.copyright{
    font-size: 13px;
    color: var(--font-light-gray4);
    margin-top: 8px;
}
