:root{
    --background-top-nav: rgba(0,0,0,0.8);
    --background-black: #000;
    --background-white: #fff;
    --background-purchase: #0071e3;
    --background-purchase-hover: #0077ed;
    --font-new: #f56300;
    --font-white: #fff;
    --font-blue: #2997ff;
}

.top-nav{
    background-color: var(--background-top-nav);
}



/* top-nav */
.top-nav-list{
    height: 44px;
    max-width: 996px;
    min-width: 337px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top-nav-list a{
    position: relative;
    display: block;
    height: 44px;
    padding: 0 8px;
    background-repeat: no-repeat;
    background-size: auto 44px;
    background-position: center top;
    overflow: hidden;
    text-align: center;
    line-height: 44px;
    opacity: .8;
    transition: opacity 0.3s;
}

.top-nav-list a:hover{
    opacity: 1;
}

.hamburger-menu-container{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
}

.hamburger-menu span{
    display: block;
    background-color: var(--background-white);
    height: 1px;
    width: 15px;
    border-radius: 0.5px;
}

.hamburger-menu span:nth-child(1) {
    margin: 11px auto 0;
}
.hamburger-menu span:nth-child(2) {
    margin: 6px auto 0;
}

.hidden{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

#hamburger-menu{
    display: none;
}

#top-nav-apple-logo{
    width: 14px;
    background-image: url(../img/globalnav_apple_image__b5er5ngrzxqq_large.svg);
}

#top-nav-store{
    width: 30px;
    background-image: url(../img/globalnav_links_store_image__c7jy08initqq_large.svg);
}

#top-nav-mac{
    width: 23px;
    background-image: url(../img/globalnav_links_mac_image__dazlko3t9a6a_large.svg);
}

#top-nav-ipad{
    width: 24px;
    background-image: url(../img/globalnav_links_ipad_image__fw9qyj9lloi2_large.svg);
}

#top-nav-iphone{
    width: 38px;
    background-image: url(../img/globalnav_links_iphone_image__ko7x4isga4ia_large.svg);
}

#top-nav-watch{
    width: 35px;
    background-image: url(../img/globalnav_links_watch_image__gkoblojrlsqe_large.svg);
}

#top-nav-airpods{
    width: 43px;
    background-image: url(../img/globalnav_links_airpods_image__f969s84ivmaa_large.svg);
}

#top-nav-tvhome{
    width: 42px;
    background-image: url(../img/globalnav_links_tvhome_image__zb2ewyxbi6ae_large.svg);
}

#top-nav-only-on-apple{
    width: 80px;
    background-image: url(../img/globalnav_links_onlyonapple_image__c4t8k97tougm_large.svg);
}

#top-nav-accessories{
    width: 40px;
    background-image: url(../img/globalnav_links_accessories_image__edj0wqmfwxyu_large.svg);
}

#top-nav-support{
    width: 39px;
    background-image: url(../img/globalnav_links_support_image__bw9kctll7u3m_large.svg);
}

#top-nav-search{
    width: 15px;
    background-image: url(../img/globalnav_search_image__cbllq1gkias2_large.svg);
    background-position: center top;
    background-size: auto 88px;
}

#top-nav-cart{
    width: 13px;
    background-image: url(../img/globalnav_bag_image__yzte50i47ciu_large.svg);
}



/* ipad-nav */
.ipad-nav{
    background-color: var(--background-black);
    height: 100px;
    padding-top: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.ipad-nav-list{
    width: 956px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}


.ipad-nav-list a{
    display: block;
}

.ipad-nav-list figure{
    background-repeat: no-repeat;
    height: 54px;
    margin: 0 auto 7px;
}

.ipad-nav-list a span{
    display: block;
    text-align: center;
}

.ipad-nav-text{
    color: #fff;
    font-size: 12px;
    line-height: 1.3;
}

.ipad-nav-list a:hover .ipad-nav-text{
    color: var(--font-blue);
}

.new{
    color: var(--font-new);
    font-size: 10px;
    line-height: 1.2;
}

#ipad-nav-ipad-pro{
    background-image: url(../img/ipadpro_dark__175htbn6m76u_large.svg);
    background-size: 41px 54px;
    width: 41px;
}

#ipad-nav-ipad-air{
    background-image: url(../img/ipadair_dark__gi1t1iqta1yu_large.svg);
    background-size: 30px 54px;
    width: 30px;
}

#ipad-nav-ipad{
    background-image: url(../img/ipad_dark__fe8ocv9hktim_large.svg);
    background-size: 30px 54px;
    width: 30px;
}

#ipad-nav-ipad-mini{
    background-image: url(../img/ipadmini_dark__cdfcygd422uu_large.svg);
    background-size: 23px 54px;
    width: 23px;
}

#ipad-nav-compare{
    background-image: url(../img/ipad_compare_dark__cxllw9w1tuy6_large.svg);
    background-size: 45px 54px;
    width: 45px;
}

#ipad-nav-apple-pencil{
    background-image: url(../img/apple_pencil_dark__c42qcvi9e802_large.svg);
    background-size: 3px 54px;
    width: 3px;
}

#ipad-nav-keyboard{
    background-image: url(../img/keyboard_dark__dtedyad0xnqu_large.svg);
    background-size: 63px 54px;
    width: 63px;
}

#ipad-nav-airpods{
    background-image: url(../img/airpods_dark__ccoezo86z37m_large.svg);
    background-size: 27px 54px;
    width: 27px;
}

#ipad-nav-accessories{
    background-image: url(../img/ipad_acc_dark__bo0a4ftei9au_large.svg);
    background-size: 31px 54px;
    width: 31px;
}

#ipad-nav-ipad-os{
    background-image: url(../img/ipados_dark__emr7k8pfle4i_large.svg);
    background-size: 32px 54px;
    width: 32px;
}

#ipad-nav-shopping{
    background-image: url(../img/shop_ipad_dark__ekfl60g78g4m_large.svg);
    background-size: 66px 54px;
    width: 66px;
}




/* main-items-intro */
.intro-ipad-air-container{
    padding: 68px 0;
    background-color: var(--background-black);
}

.intro-ipad-air{
    margin: 0 auto;
    width: 980px;
    display: flex;
    align-items: center;
}

.intro-ipad-air-text-area{
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-ipad-air-img-area{
    background-image: url(../img/ipad_air__d794tkovmk02_large.jpg);
    width: 680px;
    height: 695px;
    background-size: 680px 695px;
    background-repeat: no-repeat;
}

.main-new{
    color: var(--font-new);
    font-size: 12px;
    line-height: 1.5;
}

.intro-ipad-air-title h2{
    display: inline-block;
}

.intro-title-text{
    font-size: 56px;
    font-weight: 600;
    line-height: 1.2;
}

.intro-ipad-air-title-text{
    color: var(--font-white);
}

.intro-ipad-air-title-img{
    display: inline-block;
    background-image: url(../img/air_script__coyet2g7gkia_large.png);
    background-size: 88px 46px;
    width: 88px;
    height: 46px;
    margin-bottom: -4px;
}

.intro-ipad-air-subtext{
    color: var(--font-white);
}

.intro-subtext{
    line-height: 1.5;
    font-size: 22px;
    font-weight: 600;
}

.intro-ipad-air-price{
    color: var(--font-white);
}

.intro-price{
    margin-top: 20px;
    line-height: 1.5;
    font-size: 17px;
}

.intro-purchase{
    display: inline-block;
    margin: 13px 0;
    padding: 8px 16px;
    background-color: var(--background-purchase);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 25px;
    color: var(--font-white);
}

.intro-purchase:hover{
    background-color: var(--background-purchase-hover);
}

.intro-more{
    color: var(--font-blue);
    line-height: 1.6;
    font-size: 15px;
}

.intro-more:hover{
    text-decoration: underline;
}

.intro-more::after{
    display: inline-block;
    content: '';
    width: 4px;
    height: 4px;
    border-top : 2px solid var(--font-blue);
    border-right : 2px solid var(--font-blue);
    background-color: transparent;
    transform: rotate(45deg);
    margin: 0 0 4px 2px;
}





@media screen and (max-width: 833px) {
    .hamburger-menu-container{
        display: block;
    }
    .top-nav-display-none{
        display: none;
    }
    #top-nav-apple-logo{
        width: 17px;
        background-image: url(../img/globalnav_apple_image__b5er5ngrzxqq_small.svg);
    }
    #top-nav-cart{
        width: 15px;
        background-image: url(../img/globalnav_bag_image__yzte50i47ciu_small.svg);
    }
    .top-nav-list{
        height: 48px;
        padding: 0 10px 0 0;
        line-height: 48px;
    }
    .top-nav-list a{
        height: 48px;
        background-size: auto 48px;
    }
    
}

@media screen and (max-width: 1068px) {
    /* intro */
    .intro-ipad-air-img-area{
        background-image: url(../img/ipad_air__d794tkovmk02_medium.jpg);
        width: 504px;
        height: 515px;
        background-size: 504px 515px;
    }
    .intro-ipad-air{
        width: 692px;
    }
    .intro-ipad-air-text-area{
        width: 188px;
    }
    .intro-ipad-air-title-img{
        background-image: url(../img/air_script__coyet2g7gkia_medium.png);
        background-size: 74px 40px;
        width: 74px;
        height: 40px;
        margin-bottom: -3px;
    }
    .intro-title-text{
        font-size: 48px;
    }
    .intro-subtext{
        font-size: 19px;
    }
    .intro-purchase{
        margin: 11px 0 8px;
    }
}

@media screen and (max-width: 734px) {
    /* intro */
    .intro-ipad-air-img-area{
        background-image: url(../img/ipad_air__d794tkovmk02_small.jpg);
        width: 100%;
        height: 317px;
        background-size: auto 317px;
    }
    .main-new{
        margin-top: -18px;
    }
    .intro-ipad-air{
        flex-direction: column;
        justify-content: center;
        width: 320px;
    }
    .intro-ipad-air-text-area{
        width: 100%;
        margin-bottom: 36px;
    }
    .intro-title-text{
        font-size: 40px;
    }
    .intro-ipad-air-title-img{
        background-image: url(../img/air_script__coyet2g7gkia_small.png);
        background-size: 60px 32px;
        width: 60px;
        height: 32px;
        margin-left: -4px;
        margin-bottom: -2px;
    }
    .intro-subtext{
        margin-top: 7px;
        font-size: 17px;
    }
    .intro-price{
        margin-top: 17px;
        font-size: 17px;
    }
    .intro-purchase{
        margin: 7px 0 9px;
    }
}