:root{
    --background-top-nav: rgba(0,0,0,0.8);
}

.top_nav{
    background-color: var(--background-top-nav);
}

.top_nav_list{
    height: 44px;
    width: 996px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top_nav_list a{
    position: relative;
    display: block;
    height: 44px;
    padding: 0 8px;
    background-repeat: no-repeat;
    background-size: auto 44px;
    background-position: 50% top;
    overflow: hidden;
    text-align: center;
    line-height: 44px;
    opacity: .8;
}

.hidden{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

#top_nav_apple_logo{
    width: 14px;
    background-image: url(../img/globalnav_apple_image__b5er5ngrzxqq_large.svg);
}

#top_nav_store{
    width: 30px;
    background-image: url(../img/globalnav_links_store_image__c7jy08initqq_large.svg);
}

#top_nav_mac{
    width: 23px;
    background-image: url(../img/globalnav_links_mac_image__dazlko3t9a6a_large.svg);
}

#top_nav_ipad{
    width: 24px;
    background-image: url(../img/globalnav_links_ipad_image__fw9qyj9lloi2_large.svg);
}

#top_nav_iphone{
    width: 38px;
    background-image: url(../img/globalnav_links_iphone_image__ko7x4isga4ia_large.svg);
}

#top_nav_watch{
    width: 35px;
    background-image: url(../img/globalnav_links_watch_image__gkoblojrlsqe_large.svg);
}

#top_nav_airpods{
    width: 43px;
    background-image: url(../img/globalnav_links_airpods_image__f969s84ivmaa_large.svg);
}

#top_nav_tvhome{
    width: 42px;
    background-image: url(../img/globalnav_links_tvhome_image__zb2ewyxbi6ae_large.svg);
}

#top_nav_onlyonapple{
    width: 80px;
    background-image: url(../img/globalnav_links_onlyonapple_image__c4t8k97tougm_large.svg);
}

#top_nav_accessories{
    width: 40px;
    background-image: url(../img/globalnav_links_accessories_image__edj0wqmfwxyu_large.svg);
}

#top_nav_support{
    width: 39px;
    background-image: url(../img/globalnav_links_support_image__bw9kctll7u3m_large.svg);
}

#top_nav_search{
    width: 15px;
    background-image: url(../img/globalnav_search_image__cbllq1gkias2_large.svg);
    background-position: center top;
    background-size: auto 88px;
}

#top_nav_cart{
    width: 13px;
    background-image: url(../img/globalnav_bag_image__yzte50i47ciu_large.svg);
}