:root{
    --background: #f5f5f7;
    --background-top-nav: rgba(0,0,0,0.8);
    --background-black: #000;
    --background-white: #fff;
    --background-purchase: #0071e3;
    --background-purchase-hover: #0077ed;
    --font-new: #f56300;
    --font-new-intro: #bf4800;
    --font-white: #fff;
    --font-black: #000;
    --font-blue: #2997ff;
    --font-more-intro: #06c;
    --font-footer-gray: #6e6e73;
    --font-footer-link: #424245;
    --font-footer-link-title: #1d1d1f;
    --font-footer-bottom: #999;
    --border-gray: #d2d2d7;
}

body{
    background-color: var(--background);
    word-break: keep-all;
    font-family:"SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
}





/* top-nav */
.top-nav{
    background-color: var(--background-top-nav);
}


.top-nav-list{
    height: 44px;
    max-width: 996px;
    min-width: 337px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top-nav-list a{
    position: relative;
    display: block;
    height: 44px;
    padding: 0 8px;
    background-repeat: no-repeat;
    background-size: auto 44px;
    background-position: center top;
    overflow: hidden;
    text-align: center;
    line-height: 44px;
    opacity: .8;
    transition: opacity 0.3s;
}

.top-nav-list a:hover{
    opacity: 1;
}

.hamburger-menu-container{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
}

.hamburger-menu span{
    display: block;
    background-color: var(--background-white);
    height: 1px;
    width: 15px;
    border-radius: 0.5px;
}

.hamburger-menu span:nth-child(1) {
    margin: 11px auto 0;
}
.hamburger-menu span:nth-child(2) {
    margin: 6px auto 0;
}

.hidden{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

#hamburger-menu{
    display: none;
}

#top-nav-apple-logo{
    width: 14px;
    background-image: url(../img/globalnav_apple_image__b5er5ngrzxqq_large.svg);
}

#top-nav-store{
    width: 30px;
    background-image: url(../img/globalnav_links_store_image__c7jy08initqq_large.svg);
}

#top-nav-mac{
    width: 23px;
    background-image: url(../img/globalnav_links_mac_image__dazlko3t9a6a_large.svg);
}

#top-nav-ipad{
    width: 24px;
    background-image: url(../img/globalnav_links_ipad_image__fw9qyj9lloi2_large.svg);
}

#top-nav-iphone{
    width: 38px;
    background-image: url(../img/globalnav_links_iphone_image__ko7x4isga4ia_large.svg);
}

#top-nav-watch{
    width: 35px;
    background-image: url(../img/globalnav_links_watch_image__gkoblojrlsqe_large.svg);
}

#top-nav-airpods{
    width: 43px;
    background-image: url(../img/globalnav_links_airpods_image__f969s84ivmaa_large.svg);
}

#top-nav-tvhome{
    width: 42px;
    background-image: url(../img/globalnav_links_tvhome_image__zb2ewyxbi6ae_large.svg);
}

#top-nav-only-on-apple{
    width: 80px;
    background-image: url(../img/globalnav_links_onlyonapple_image__c4t8k97tougm_large.svg);
}

#top-nav-accessories{
    width: 40px;
    background-image: url(../img/globalnav_links_accessories_image__edj0wqmfwxyu_large.svg);
}

#top-nav-support{
    width: 39px;
    background-image: url(../img/globalnav_links_support_image__bw9kctll7u3m_large.svg);
}

#top-nav-search{
    width: 15px;
    background-image: url(../img/globalnav_search_image__cbllq1gkias2_large.svg);
    background-position: center top;
    background-size: auto 88px;
}

#top-nav-cart{
    width: 13px;
    background-image: url(../img/globalnav_bag_image__yzte50i47ciu_large.svg);
}



/* ipad-nav */
.ipad-nav{
    background-color: var(--background-black);
    height: 100px;
    padding-top: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.ipad-nav-list{
    width: 956px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}


.ipad-nav-list a{
    display: block;
}

.ipad-nav-list figure{
    background-repeat: no-repeat;
    height: 54px;
    margin: 0 auto 7px;
}

.ipad-nav-list a span{
    display: block;
    text-align: center;
}

.ipad-nav-text{
    color: #fff;
    font-size: 12px;
    line-height: 1.3;
}

.ipad-nav-list a:hover .ipad-nav-text{
    color: var(--font-blue);
}

.new{
    color: var(--font-new);
    font-size: 10px;
    line-height: 1.2;
}

#ipad-nav-ipad-pro{
    background-image: url(../img/ipadpro_dark__175htbn6m76u_large.svg);
    background-size: 41px 54px;
    width: 41px;
}

#ipad-nav-ipad-air{
    background-image: url(../img/ipadair_dark__gi1t1iqta1yu_large.svg);
    background-size: 30px 54px;
    width: 30px;
}

#ipad-nav-ipad{
    background-image: url(../img/ipad_dark__fe8ocv9hktim_large.svg);
    background-size: 30px 54px;
    width: 30px;
}

#ipad-nav-ipad-mini{
    background-image: url(../img/ipadmini_dark__cdfcygd422uu_large.svg);
    background-size: 23px 54px;
    width: 23px;
}

#ipad-nav-compare{
    background-image: url(../img/ipad_compare_dark__cxllw9w1tuy6_large.svg);
    background-size: 45px 54px;
    width: 45px;
}

#ipad-nav-apple-pencil{
    background-image: url(../img/apple_pencil_dark__c42qcvi9e802_large.svg);
    background-size: 3px 54px;
    width: 3px;
}

#ipad-nav-keyboard{
    background-image: url(../img/keyboard_dark__dtedyad0xnqu_large.svg);
    background-size: 63px 54px;
    width: 63px;
}

#ipad-nav-airpods{
    background-image: url(../img/airpods_dark__ccoezo86z37m_large.svg);
    background-size: 27px 54px;
    width: 27px;
}

#ipad-nav-accessories{
    background-image: url(../img/ipad_acc_dark__bo0a4ftei9au_large.svg);
    background-size: 31px 54px;
    width: 31px;
}

#ipad-nav-ipad-os{
    background-image: url(../img/ipados_dark__emr7k8pfle4i_large.svg);
    background-size: 32px 54px;
    width: 32px;
}

#ipad-nav-shopping{
    background-image: url(../img/shop_ipad_dark__ekfl60g78g4m_large.svg);
    background-size: 66px 54px;
    width: 66px;
}




/* main-items-intro */
/* ipad air */
.intro-container{
    position: relative;
    margin-bottom: 13px;  
    overflow: hidden;
}

.intro-ipad-air-container{
    padding: 68px 0;
    background-color: var(--background-black);
}

.intro{
    margin: 0 auto;
    width: 980px;
    display: flex;
    align-items: center;
}

.click-area{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.intro-text-area{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.intro-ipad-air-text-area{
    width: 300px;
}

.intro-ipad-air-img-area{
    background-image: url(../img/ipad_air__d794tkovmk02_large.jpg);
    width: 680px;
    height: 695px;
    background-size: 680px 695px;
    background-repeat: no-repeat;
}

.main-new{
    color: var(--font-new);
    font-size: 12px;
    line-height: 1.5;
}

.intro-ipad-air-title h2{
    display: inline-block;
}

.intro-title-text{
    font-size: 56px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

.intro-ipad-air-title-text{
    color: var(--font-white);
}

.intro-ipad-air-title-img{
    display: inline-block;
    background-image: url(../img/air_script__coyet2g7gkia_large.png);
    background-size: 88px 46px;
    width: 88px;
    height: 46px;
    margin-bottom: -4px;
}

.intro-ipad-air-subtext{
    color: var(--font-white);
}

.intro-subtext{
    line-height: 1.5;
    font-size: 24px;
    font-weight: 600;
}

.intro-ipad-air-price{
    color: var(--font-white);
}

.intro-price{
    margin-top: 20px;
    line-height: 1.5;
    font-size: 17px;
}

.intro-purchase{
    display: inline-block;
    margin: 13px 0;
    padding: 8px 16px;
    background-color: var(--background-purchase);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 25px;
    color: var(--font-white);
}

.intro-purchase:hover{
    background-color: var(--background-purchase-hover);
}

.intro-more{
    color: var(--font-blue);
    line-height: 1.6;
    font-size: 16px;
    font-weight: 600;
}

.intro-more:hover{
    text-decoration: underline;
}

.intro-more::after{
    display: inline-block;
    content: '';
    width: 4px;
    height: 4px;
    border-top : 2px solid var(--font-blue);
    border-right : 2px solid var(--font-blue);
    background-color: transparent;
    transform: rotate(45deg);
    margin: 0 0 4px 2px;
}



/* ipad pro */
.intro-ipad-pro-container{
    position: relative;
    padding: 80px 0;
    margin-bottom: 13px;
    background-color: var(--background-white);
    overflow: hidden;
}

.intro-ipad-pro-img-area{
    flex-basis: 33%;
    max-width: 33%;  
    margin-left: 16%;
}

.intro-ipad-pro-img{
    width: 1335px;
    height: 598px;
    background-image: url(../img/ipad_pro_hero__bh3eq6sqfjw2_large.jpg);
    background-size: 1335px 598px;
    background-repeat: no-repeat;
}

.intro-ipad-pro-text-area{
    flex-basis: 25%;
    max-width: 25%;
    margin: -120px 0 0 20px;
}


/* ipad */
.intro-ipad-container{
    position: relative;
    padding: 0 0 33px;
    margin-bottom: 13px;
    background-color: var(--background-white);
    overflow: hidden;
}

.intro-ipad-text-area{
    flex-basis: 33%;
    max-width: 33%;
}

.intro-ipad-img-area{
    flex-basis: 67%;
    max-width: 67%;
}

.intro-ipad-img{
    width: 856px;
    height: 813px;
    background-image: url(../img/ipad_10_2__7yowwyyrbmaa_large.jpg);
    background-size: 856px 813px;
    margin: -98px 0 0 -20px;
}


/* ipad mini */
.intro-ipad-mini-container{
    padding: 120px 0 0;
    background-color: var(--background-white);
}

.intro-ipad-mini-img-area{
    flex-basis: 60%;
    max-width: 60%;
}

.intro-ipad-mini-img{
    width: 503px;
    height: 579px;
    background-image: url(../img/ipad_mini__dn6g8b0hw8om_large.jpg);
    background-size: 503px 579px;
    margin: 0 0 0 110px;
}

.intro-ipad-mini-text-area{
    flex-basis: 25%;
    max-width: 25%;
    margin-bottom: 70px;
}

.intro-ipad-mini-title-img{
    display: inline-block;
    background-image: url(../img/mini_script__bjahejz6luqa_large.png);
    background-size: 103px 41px;
    width: 103px;
    height: 41px;
    margin-bottom: -4px;
}

.intro-ipad-mini-title h2{
    display: inline-block;
}





/* spec */
.spec-container{
     margin: 30px;
     text-align: center;
}

.spec{
    padding: 115px 0 105px;
    background-color: var(--background-white);
}

.spec-title{
    font-size: 56px;
    font-weight: 600;
    line-height: 1.2;
}

.spec-grid{
    margin: 70px auto;
    width: 940px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, auto);
    row-gap: 38px;
    column-gap: 34px;

    grid-template-areas: 
        "spec-intro-ipad-pro spec-intro-ipad-air spec-intro-ipad spec-intro-ipad-mini"
        "spec-display-ipad-pro spec-display-ipad-air spec-display-ipad spec-display-ipad-mini"
        "spec-processor-ipad-pro spec-processor-ipad-air spec-processor-ipad spec-processor-ipad-mini"
        "spec-backup-camera-ipad-pro spec-backup-camera-ipad-air spec-backup-camera-ipad spec-backup-camera-ipad-mini"
        "spec-front-camera-ipad-pro spec-front-camera-ipad-air spec-front-camera-ipad spec-front-camera-ipad-mini"
        "spec-usb-ipad-pro spec-usb-ipad-air spec-usb-ipad spec-usb-ipad-mini"
        "spec-cellular-ipad-pro spec-cellular-ipad-air spec-cellular-ipad spec-cellular-ipad-mini"
        "spec-apple-pencil-ipad-pro spec-apple-pencil-ipad-air spec-apple-pencil-ipad spec-apple-pencil-ipad-mini"
        "spec-keyboard-ipad-pro spec-keyboard-ipad-air spec-keyboard-ipad spec-keyboard-ipad-mini";
}

.spec-intro{
    padding-bottom: 32px;
    border-bottom: 1px solid var(--border-gray);
}

.spec-intro-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 214px;
    margin-bottom: 23px;  
}

.spec-intro-img-ipad-pro{
    background-image: url(../img/compare_ipad_pro__erf9x8mw04sy_large.png);
    background-size: 189px 214px;
    background-repeat: no-repeat;
    width: 189px;
    height: 214px;
}


.spec-intro-img-ipad-air{
    background-image: url(../img/compare_ipad_air__bxjv33pk6nte_large.png);
    background-size: 136px 188px;
    background-repeat: no-repeat;
    width: 136px;
    height: 188px;
}

.spec-intro-img-ipad{
    background-image: url(../img/compare_ipad_10_2__fwgwy7jydtea_large.png);
    background-size: 133px 191px;
    background-repeat: no-repeat;
    width: 133px;
    height: 191px;
}

.spec-intro-img-ipad-mini{
    background-image: url(../img/compare_ipad_mini__czcsk9ukpeie_large.png);
    background-size: 103px 149px;
    background-repeat: no-repeat;
    width: 103px;
    height: 149px;
}

.spec-intro-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spec-intro-color-ipad-pro{
    background-image: url(../img/compare_ipad_pro_swatches__bxn5nqwduk9y_large.png);
    background-size: 32px 14px;
    background-repeat: no-repeat;
    width: 32px;
    height: 14px;
    margin-bottom: 30px;
}

.spec-intro-color-ipad-air{
    background-image: url(../img/compare_ipad_air_swatches__dagugd9h3nsm_large.png);
    background-size: 85px 14px;
    background-repeat: no-repeat;
    width: 85px;
    height: 14px;
    margin-bottom: 13px;
}

.spec-intro-color-ipad{
    background-image: url(../img/compare_ipad_10_2_swatches__b77m5o9rqjhy_large.png);
    background-size: 32px 14px;
    background-repeat: no-repeat;
    width: 32px;
    height: 14px;
    margin-bottom: 30px;
}

.spec-intro-color-ipad-mini{
    background-image: url(../img/compare_ipad_mini_swatches__fdzgy88hh6ai_large.png);
    background-size: 68px 14px;
    background-repeat: no-repeat;
    width: 68px;
    height: 14px;
    margin-bottom: 30px;
}

.spec-new{
    font-size: 12px;
    margin-bottom: 5px;
    color: var(--font-new-intro);
}

.spec-intro-name{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 6px;
}

.spec-intro-subtext{
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.spec-intro-price{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.spec-intro-purchase{
    display: inline-block;
    margin-bottom: 13px;
    padding: 4px 11px;
    background-color: var(--background-purchase);
    font-size: 12px;
    line-height: 1.3;
    border-radius: 25px;
    color: var(--font-white);
}

.spec-intro-purchase:hover{
    background-color: var(--background-purchase-hover);
}

.spec-intro-more{
    color: var(--font-more-intro);
    line-height: 1.5;
    font-size: 14px;
}

.spec-intro-more:hover{
    text-decoration: underline;
}

.spec-intro-more::after{
    display: inline-block;
    content: '';
    width: 4px;
    height: 4px;
    border-top : 1px solid var(--font-more-intro);
    border-right : 1px solid var(--font-more-intro);
    background-color: transparent;
    transform: rotate(45deg);
    margin: 0 0 2px 2px;
}




.spec-display-inch{
    font-size: 19px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 6px;
}

.spec-detail{
    font-size: 14px;
    line-height: 1.5;
}

.sup_ref{
    vertical-align: super;
    font-size: 0.1em;
    color: var(--font-black);
}




.spec-processor-img-ipad-pro, .spec-processor-img-ipad-air{
    background-image: url(../img/compare_m1_chip__ev9f5zgvwo02_large.png);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    width: 38px;
    height: 38px;
    margin: 0 auto 9px auto;
}

.spec-processor-img-ipad{
    background-image: url(../img/compare_a13_chip__f2yibwat6sya_large.png);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    width: 38px;
    height: 38px;
    margin: 0 auto 9px auto;
}

.spec-processor-img-ipad-mini{
    background-image: url(../img/compare_a15_chip__c4a0mtst408y_large.png);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    width: 38px;
    height: 38px;
    margin: 0 auto 9px auto;
}





.spec-backup-camera-img-ipad-pro{
    background-image: url(../img/compare_camera_12mp_wide_10mp_ultrawide__exe6qcqnzr42_large.png);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    width: 38px;
    height: 38px;
    margin: 0 auto 9px auto;
}

.spec-backup-camera-img-ipad-air{
    background-image: url(../img/compare_camera_12mp_wide__buiapmy4l402_large.png);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    width: 38px;
    height: 38px;
    margin: 0 auto 9px auto;
}

.spec-backup-camera-img-ipad{
    background-image: url(../img/compare_camera_8mp_wide__canjmhsldos2_large.png);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    width: 38px;
    height: 38px;
    margin: 0 auto 9px auto;
}

.spec-backup-camera-img-ipad-mini{
    background-image: url(../img/compare_camera_12mp_wide_flash__ckjatrf9fp5y_large.png);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    width: 38px;
    height: 38px;
    margin: 0 auto 9px auto;
}

.br-small-processor{
    display: none;
}
.br-medium-processor{
    display: none;
}
.br-large-processor{
    display: block;
}



.spec-front-camera-resolution{
    font-size: 19px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 6px;
}



.spec-usb-img-ipad-pro{
    background-image: url(../img/compare_usbc_thunderbolt__fuat6j3gyc2u_large.png);
    background-repeat: no-repeat;
    background-size: 41px 22px;
    width: 41px;
    height: 22px;
    margin: 0 auto 9px auto;
}

.spec-usb-img-ipad-air, .spec-usb-img-ipad-mini{
    background-image: url(../img/compare_usbc__gnv70qm6mcuq_large.png);
    background-repeat: no-repeat;
    background-size: 32px 22px;
    width: 32px;
    height: 22px;
    margin: 0 auto 9px auto;
}

.spec-usb-img-ipad{
    background-image: url(../img/compare_lightning__drp7mpo3oyie_large.png);
    background-repeat: no-repeat;
    background-size: 32px 22px;
    width: 32px;
    height: 22px;
    margin: 0 auto 9px auto;
}




.spec-cellular-img-ipad-pro, .spec-cellular-img-ipad-air, .spec-cellular-img-ipad-mini{
    background-image: url(../img/compare_cellular_5g__gck9kjr82ci2_large.png);
    background-repeat: no-repeat;
    background-size: 48px 35px;
    width: 48px;
    height: 35px;
    margin: 0 auto 9px auto;
}

.spec-cellular-img-ipad{
    background-image: url(../img/compare_cellular_4g__emz9l1sj4yye_large.png);
    background-repeat: no-repeat;
    background-size: 48px 35px;
    width: 48px;
    height: 35px;
    margin: 0 auto 9px auto;
}



.spec-apple-pencil-img{
    background-image: url(../img/compare_pencil__2ii95qsgy0y6_large.png);
    background-repeat: no-repeat;
    background-size: 62px 6px;
    width: 62px;
    height: 6px;
    margin: 0 auto 9px auto;
}



.spec-keyboard-img-ipad-pro, .spec-keyboard-img-ipad-air{
    background-image: url(../img/compare_magic_keyboard__cr367s50ehkm_large.png);
    background-repeat: no-repeat;
    background-size: 68px 49px;
    width: 68px;
    height: 49px;
    margin: 0 auto 9px auto;
}

.spec-keyboard-img-ipad{
    background-image: url(../img/compare_smart_keyboard__gh56kiymgfam_large.png);
    background-repeat: no-repeat;
    background-size: 68px 49px;
    width: 68px;
    height: 49px;
    margin: 0 auto 9px auto;
}

.spec-keyboard-img-ipad-mini{
    background-image: url(../img/compare_bluetooth_keyboard__fsfc35t22vqu_large.png);
    background-repeat: no-repeat;
    background-size: 68px 49px;
    width: 68px;
    height: 49px;
    margin: 0 auto 9px auto;
}

.spec-keyboard{
    padding-bottom: 45px;
    border-bottom: 1px solid var(--border-gray);
}



/* grid-area */
.spec-intro-ipad-pro{
    grid-area: spec-intro-ipad-pro;
}
.spec-intro-ipad-air{
    grid-area: spec-intro-ipad-air;
}
.spec-intro-ipad{
    grid-area: spec-intro-ipad;
}
.spec-intro-ipad-mini{
    grid-area: spec-intro-ipad-mini;
}

.spec-display-ipad-pro{
    grid-area: spec-display-ipad-pro;
}
.spec-display-ipad-air{
    grid-area: spec-display-ipad-air;
}
.spec-display-ipad{
    grid-area: spec-display-ipad;
}
.spec-display-ipad-mini{
    grid-area: spec-display-ipad-mini;
}

.spec-processor-ipad-pro{
    grid-area: spec-processor-ipad-pro;
}
.spec-processor-ipad-air{
    grid-area: spec-processor-ipad-air;
}
.spec-processor-ipad{
    grid-area: spec-processor-ipad;
}
.spec-processor-ipad-mini{
    grid-area: spec-processor-ipad-mini;
}

.spec-backup-camera-ipad-pro{
    grid-area: spec-backup-camera-ipad-pro;
}
.spec-backup-camera-ipad-air{
    grid-area: spec-backup-camera-ipad-air;
}
.spec-backup-camera-ipad{
    grid-area: spec-backup-camera-ipad;
}
.spec-backup-camera-ipad-mini{
    grid-area: spec-backup-camera-ipad-mini;
}

.spec-front-camera-ipad-pro{
    grid-area: spec-front-camera-ipad-pro;
}
.spec-front-camera-ipad-air{
    grid-area: spec-front-camera-ipad-air;
}
.spec-front-camera-ipad{
    grid-area: spec-front-camera-ipad;
}
.spec-front-camera-ipad-mini{
    grid-area: spec-front-camera-ipad-mini;
}

.spec-usb-ipad-pro{
    grid-area: spec-usb-ipad-pro;
}
.spec-usb-ipad-air{
    grid-area: spec-usb-ipad-air;
}
.spec-usb-ipad{
    grid-area: spec-usb-ipad;
}
.spec-usb-ipad-mini{
    grid-area: spec-usb-ipad-mini;
}

.spec-cellular-ipad-pro{
    grid-area: spec-cellular-ipad-pro;
}
.spec-cellular-ipad-air{
    grid-area: spec-cellular-ipad-air;
}
.spec-cellular-ipad{
    grid-area: spec-cellular-ipad;
}
.spec-cellular-ipad-mini{
    grid-area: spec-cellular-ipad-mini;
}

.spec-apple-pencil-ipad-pro{
    grid-area: spec-apple-pencil-ipad-pro;
}
.spec-apple-pencil-ipad-air{
    grid-area: spec-apple-pencil-ipad-air;
}
.spec-apple-pencil-ipad{
    grid-area: spec-apple-pencil-ipad;
}
.spec-apple-pencil-ipad-mini{
    grid-area: spec-apple-pencil-ipad-mini;
}

.spec-keyboard-ipad-pro{
    grid-area: spec-keyboard-ipad-pro;
}
.spec-keyboard-ipad-air{
    grid-area: spec-keyboard-ipad-air;
}
.spec-keyboard-ipad{
    grid-area: spec-keyboard-ipad;
}
.spec-keyboard-ipad-mini{
    grid-area: spec-keyboard-ipad-mini;
}




.spec-bottom-links-wrapper{
    display: inline-block;
}

.spec-bottom-links{
    color: var(--font-more-intro);
    font-size: 21px;
    line-height: 1.5;
}

.spec-links-compare{
    margin: 0 35px 0 0;
}

.spec-bottom-links::after{
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    border-top : 2px solid var(--font-more-intro);
    border-right : 2px solid var(--font-more-intro);
    background-color: transparent;
    transform: rotate(45deg);
    margin: 0 0 3px 5px;
}

.spec-bottom-links:hover{
    text-decoration: underline;
}





/* footer */
footer{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    overflow: hidden;
}

/* note */
.footer-note-container{
    border-bottom: 1px solid var(--border-gray);
    padding: 17px 0 11px;
}

.footer-note, .note-list li{
    font-size: 12px;
    line-height: 1.3;
    color: var(--font-footer-gray);
    padding-bottom: 10px;
}

.note-list{
    list-style-type: decimal;
    padding: 0 17px;
}

.nav-location{
    padding: 17px 0;
}

.nav-location-main-logo{
    width: 14px;
    height: 18px;
    background-image: url(../img/icon_large.svg);
    background-size: 14px 72px;
    background-repeat: no-repeat;
    background-position-y: -36px;
    display: inline-block;
}

.nav-location-main-logo:hover{
    background-position-y: -54px;
}

.nav-location-ipad::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 18px;
    background-image: url(../img/sep_icon_large.svg);
    background-size: 8px 36px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: -1px 11px 0;
}

.nav-location-ipad{
    font-size: 12px;
    color: var(--font-footer-link);
}





.footer-nav-container{
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
    line-height: 1.3;
}

.footer-nav{
    width: 25%;
}

.footer-nav-account, .footer-nav-education, .footer-nav-information{
    padding-top: 15px;
}

.footer-nav-title{
    display: block;
    font-weight: 600;
    color: var(--font-black);
    margin-bottom: 11px;
}

.footer-nav-accordion{
    display: none;
}

.footer-nav-list li{
    margin-bottom: 11px;
}

.footer-nav-list li a{
    color: var(--font-footer-link);
}

.footer-nav-list li a:hover{
    text-decoration: underline;
} 




.footer-bottom{
    padding: 34px 0 17px;
}

.method{
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border-gray);
    margin-bottom: 12px;
    font-size: 12px;
    color: var(--font-footer-gray);
}

.method a{
    color: var(--font-more-intro);
}

.method a:hover{
    text-decoration: underline;
}

.legal-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.legal{
    font-size: 12px;
    color: var(--font-footer-gray);
}

.copyright{
    display: inline-block;
    margin-right: 28px;
}

.legal-nav{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}

.legal-nav li{
    display: inline-block;
    margin-right: 8px;
    padding-right: 10px;
    border-right: 1px solid var(--border-gray);
}

.legal-nav li:last-child{
    border-right: none;
}

.legal-nav a{
    color: var(--font-footer-link);
}

.legal-nav a:hover{
    text-decoration: underline;
}

.lang{
    font-size: 12px;
    color: var(--font-footer-link);
}

.contact{
    font-size: 11px;
    line-height: 1.3;
    color: var(--font-footer-bottom);
}

.contact span{
    white-space: nowrap;
}


@media screen and (max-width: 833px) {
    .hamburger-menu-container{
        display: block;
    }
    .top-nav-display-none{
        display: none;
    }
    #top-nav-apple-logo{
        width: 17px;
        background-image: url(../img/globalnav_apple_image__b5er5ngrzxqq_small.svg);
    }
    #top-nav-cart{
        width: 15px;
        background-image: url(../img/globalnav_bag_image__yzte50i47ciu_small.svg);
    }
    .top-nav-list{
        height: 48px;
        padding: 0 10px 0 0;
        line-height: 48px;
    }
    .top-nav-list a{
        height: 48px;
        background-size: auto 48px;
    }
    

/* footer-nav-accordion */
    .footer-nav-container{
        display: block;
        border-bottom: 1px solid var(--border-gray);
    }

    .footer-nav{
        width: 100%;
    }

    .footer-nav-account, .footer-nav-education, .footer-nav-information{
        padding: 0px;
    }

    .footer-nav-title{
        display: inline-block;
        width: 100%;
        color: var(--font-footer-gray);
        font-weight: 400;
        border-top: 1px solid var(--border-gray);
        padding: 10px 0;
        cursor: pointer;
        margin: 0;
    }

    .footer-nav-title::after{
        content: '+';
        float: right;
        font-size: 14px;
        font-weight: normal;
        margin-top: -2px;
        margin-right: 8px;
        transition: transform 0.2s;
    }

    .footer-nav-title:hover{
        color: var(--font-black);
    }

    .footer-nav-list{
        visibility: hidden;
        height: 0;
    }


    input[class="footer-nav-accordion"]:checked + .footer-nav-title + .footer-nav-list{
        visibility: visible;
        padding: 5px 0 16px;
        width: 100%;
        height: auto;
    }

    input[class="footer-nav-accordion"]:checked + .footer-nav-title::after{
        transform: rotate(45deg);
    }

    .footer-nav-list li{
        margin: 0;
    }

    .footer-nav-list li a{
        display: block;
        padding: 6px 14px;
        color: var(--font-footer-link);
    }  
    
    
/* footer-bottom */
    .footer-bottom{
        padding: 17px 0;
    }
    
    .method{
        display: block;
        border-bottom: none;
        margin-bottom: 12px;
    }

    .legal-container{
        flex-wrap: wrap-reverse;
    }
    
    .lang, .copyright, .legal-nav{
        display: block;
        width: 100%;
    }

    .lang{
        padding-bottom: 20px;
    }

    .copyright{
        margin: 0 0 8px;
    }
}

@media screen and (max-width: 1068px) {
/* intro */
    /* ipad air */
    .intro-ipad-air-img-area{
        background-image: url(../img/ipad_air__d794tkovmk02_medium.jpg);
        width: 504px;
        height: 515px;
        background-size: 504px 515px;
    }
    .intro-ipad-air-text-area{
        width: 188px;
    }
    .intro-ipad-air-title-img{
        background-image: url(../img/air_script__coyet2g7gkia_medium.png);
        background-size: 74px 40px;
        width: 74px;
        height: 40px;
        margin-bottom: -3px;
    }

    /* ipad pro */
    .intro-ipad-pro-container{
        padding: 80px 0 40px;
    }
    .intro-ipad-pro-img{
        width: 831px;
        height: 430px;
        background-image: url(../img/ipad_pro_hero__bh3eq6sqfjw2_medium.jpg);
        background-size: 831px 430px;
    }
    .intro-ipad-pro-img-area{
        flex-basis: 33%;
        max-width: 33%;  
        margin-left: 8%;
    }
    .intro-ipad-pro-text-area{
        flex-basis: 33%;
        max-width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -120px 0 0 0;
    }

    /* ipad */
    .intro-ipad-container{
        padding: 0 0 3px;
    }
    .intro-ipad-text-area{
        flex-basis: 41%;
        max-width: 41%;
    }
    .intro-ipad-img-area{
        flex-basis: 59%;
        max-width: 59%;
    }
    .intro-ipad-img{
        width: 509px;
        height: 490px;
        background-image: url(../img/ipad_10_2__7yowwyyrbmaa_medium.jpg);
        background-size: 509px 490px;
        margin: -44px 0 0 15px;
    }


    /* ipad mini */
    .intro-ipad-mini-container{
        padding: 77px 0 0;
    }
    .intro-ipad-mini-img-area{
        flex-basis: 50%;
        max-width: 50%;
        margin: 0 0 0 55px;
    }
    .intro-ipad-mini-img{
        width: 320px;
        height: 371px;
        background-image: url(../img/ipad_mini__dn6g8b0hw8om_medium.jpg);
        background-size: 320px 371px;
        margin: 0 0 0 60px;
    }
    .intro-ipad-mini-text-area{
        flex-basis: 33%;
        max-width: 33%;
        margin-bottom: 40px;
    }
    .intro-ipad-mini-title-img{
        background-image: url(../img/mini_script__bjahejz6luqa_medium.png);
        background-size: 90px 36px;
        width: 90px;
        height: 36px;
        margin-bottom: -3px;
    }




    /* ipad-공통 */
    .intro{
        width: 692px;
    }
    .intro-title-text{
        font-size: 48px;
    }
    .intro-subtext{
        font-size: 19px;
    }
    .intro-purchase{
        margin: 11px 0 8px;
    }



 /* spec-grid */
    .spec-container{
        max-width: 736px;
        margin: 20px auto;
        padding: 0 20px;
    }
    .spec{
        padding: 108px 0 92px;
    }
    .spec-title{
        font-size: 40px;
    }
    .spec-grid{
        width: 500px;
        margin: 65px auto 42px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(18, auto);
        row-gap: 44px;
        column-gap: 78px;
        grid-template-areas: 
        "spec-intro-ipad-pro spec-intro-ipad-air"
        "spec-display-ipad-pro spec-display-ipad-air"
        "spec-processor-ipad-pro spec-processor-ipad-air"
        "spec-backup-camera-ipad-pro spec-backup-camera-ipad-air"
        "spec-front-camera-ipad-pro spec-front-camera-ipad-air"
        "spec-usb-ipad-pro spec-usb-ipad-air"
        "spec-cellular-ipad-pro spec-cellular-ipad-air"
        "spec-apple-pencil-ipad-pro spec-apple-pencil-ipad-air"
        "spec-keyboard-ipad-pro spec-keyboard-ipad-air"
        
        "spec-intro-ipad spec-intro-ipad-mini"
        "spec-display-ipad spec-display-ipad-mini"
        "spec-processor-ipad spec-processor-ipad-mini"
        "spec-backup-camera-ipad spec-backup-camera-ipad-mini"
        "spec-front-camera-ipad spec-front-camera-ipad-mini"
        "spec-usb-ipad spec-usb-ipad-mini"
        "spec-cellular-ipad spec-cellular-ipad-mini"
        "spec-apple-pencil-ipad spec-apple-pencil-ipad-mini"
        "spec-keyboard-ipad spec-keyboard-ipad-mini";
    }
    .spec-intro{
        padding-bottom: 22px;
    }
    .spec-intro-img{
        margin-bottom: 20px;
    }
    .spec-intro-color-ipad-air{
        margin-bottom: 15px;
    }
    .spec-new{
        margin-bottom: 3px;
    }
    .spec-intro-name{
        margin-bottom: 5px;
    }
    .spec-intro-subtext{
        margin-bottom: 13px;
    }
    .spec-intro-purchase{
        margin-bottom: 10px;
    }
    .br-small-processor{
        display: none;
    }
    .br-medium-processor{
        display: block;
    }
    .br-large-processor{
        display: none;
    }

}

@media screen and (max-width: 734px) {
/* intro */
    /* ipad-air */
    .intro-ipad-air{
        flex-wrap: wrap;
        width: 310px;
    }
    .intro-ipad-air-img-area{
        background-image: url(../img/ipad_air__d794tkovmk02_small.jpg);
        width: 310px;
        height: 317px;
        background-size: 310px 317px;
    }
    .main-new{
        margin-top: -18px;
    }
    .intro-ipad-air-text-area{
        width: 100%;
        margin-bottom: 36px;
    }
    .intro-ipad-air-title-img{
        background-image: url(../img/air_script__coyet2g7gkia_small.png);
        background-size: 60px 32px;
        width: 60px;
        height: 32px;
        margin-left: -4px;
        margin-bottom: -2px;
    }

    /* ipad-pro */
    .intro-ipad-pro-container{
        padding: 50px 0 20px;
    }
    .intro-ipad-pro{
        width: 310px;
        flex-wrap: wrap-reverse;
    }
    .intro-ipad-pro-img{
        width: 540px;
        height: 268px;
        background-image: url(../img/ipad_pro_hero__bh3eq6sqfjw2_small.jpg);
        background-size: 540px 268px;
    }
    .intro-ipad-pro-img-area{
        flex-basis: 100%;
        max-width: 100%;  
        margin-left: 0;
    }
    .intro-ipad-pro-text-area{
        flex-basis: 100%;
        max-width: 100%;
        margin: -20px 0 0 0;
    }

    /* ipad */
    .intro-ipad-container{
        padding: 73px 0 17px;
    }
    .intro-ipad{
        width: 310px;
        flex-wrap: wrap;
    }
    .intro-ipad-text-area{
        flex-basis: 100%;
        max-width: 100%;
    }
    .intro-ipad-img-area{
        flex-basis: 100%;
        max-width: 100%;
    }
    .intro-ipad-img{
        width: 383px;
        height: 364px;
        background-image: url(../img/ipad_10_2__7yowwyyrbmaa_small.jpg);
        background-size: 383px 364px;
        margin: 0 0 0 -70px;
    }


    /* ipad mini */
    .intro-ipad-mini-container{
        padding: 73px 0 0;
    }
    .intro-ipad-mini{
        width: 310px;
        flex-wrap: wrap-reverse;
    }
    .intro-ipad-mini-img-area{
        flex-basis: 100%;
        max-width: 100%;
        margin: 0;
    }
    .intro-ipad-mini-img{
        width: 322px;
        height: 372px;
        background-image: url(../img/ipad_mini__dn6g8b0hw8om_small.jpg);
        background-size: 322px 372px;
        margin: 0 0 0 40px;
    }
    .intro-ipad-mini-text-area{
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 36px;
    }
    .intro-ipad-mini-title-img{
        background-image: url(../img/mini_script__bjahejz6luqa_small.png);
        background-size: 76px 31px;
        width: 76px;
        height: 31px;
        margin-bottom: -2px;
    }


    /* ipad-공통 */
    .intro-title-text{
        font-size: 40px;
    }
    .intro-subtext{
        margin-top: 7px;
        font-size: 17px;
    }
    .intro-price{
        margin-top: 17px;
        font-size: 17px;
    }
    .intro-purchase{
        margin: 7px 0 9px;
    }




 /* spec-grid */
    .spec-container{
        width: 100%;
        margin: 15px auto;
        padding: 0;
    }
    .spec{
        padding: 81px 0 74px;
    }
    .spec-title{
        max-width: 260px;
        font-size: 32px;
        
        margin: 0 auto;
    }
    .spec-grid{
        width: 80%;
        margin: 46px auto 34px;        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(18, auto);
        row-gap: 34px;
        column-gap: 10px;
        grid-template-areas: 
        "spec-intro-ipad-pro spec-intro-ipad-air"
        "spec-display-ipad-pro spec-display-ipad-air"
        "spec-processor-ipad-pro spec-processor-ipad-air"
        "spec-backup-camera-ipad-pro spec-backup-camera-ipad-air"
        "spec-front-camera-ipad-pro spec-front-camera-ipad-air"
        "spec-usb-ipad-pro spec-usb-ipad-air"
        "spec-cellular-ipad-pro spec-cellular-ipad-air"
        "spec-apple-pencil-ipad-pro spec-apple-pencil-ipad-air"
        "spec-keyboard-ipad-pro spec-keyboard-ipad-air"
        
        "spec-intro-ipad spec-intro-ipad-mini"
        "spec-display-ipad spec-display-ipad-mini"
        "spec-processor-ipad spec-processor-ipad-mini"
        "spec-backup-camera-ipad spec-backup-camera-ipad-mini"
        "spec-front-camera-ipad spec-front-camera-ipad-mini"
        "spec-usb-ipad spec-usb-ipad-mini"
        "spec-cellular-ipad spec-cellular-ipad-mini"
        "spec-apple-pencil-ipad spec-apple-pencil-ipad-mini"
        "spec-keyboard-ipad spec-keyboard-ipad-mini";
    }
    .spec-intro{
        padding-bottom: 32px;
    }
    .spec-intro-img{
        height: 141px;
        margin-bottom: 16px; 
    }
    .spec-intro-img-ipad-pro{
        background-image: url(../img/compare_ipad_pro__erf9x8mw04sy_small.png);
        background-size: 125px 141px;
        width: 125px;
        height: 141px;
    }
    .spec-intro-img-ipad-air{
        background-image: url(../img/compare_ipad_air__bxjv33pk6nte_small.png);
        background-size: 91px 125px;
        width: 91px;
        height: 125px;
    }
    .spec-intro-img-ipad{
        background-image: url(../img/compare_ipad_10_2__fwgwy7jydtea_small.png);
        background-size: 88px 127px;
        width: 88px;
        height: 127px;
    }
    .spec-intro-img-ipad-mini{
        background-image: url(../img/compare_ipad_mini__czcsk9ukpeie_small.png);
        background-size: 74px 107px;
        width: 74px;
        height: 107px;
    }
    .spec-intro-color-ipad-pro, .spec-intro-color-ipad, .spec-intro-color-ipad-mini{
        margin-bottom: 24px;
    }
    .spec-intro-color-ipad-air{
        margin-bottom: 12px;
    }
    .spec-new{
        margin-bottom: 0;
    }
    .spec-intro-name{
        font-size: 21px;
    }
    .spec-intro-subtext{
        margin-bottom: 15px;
    }
    .spec-intro-purchase{
        margin-bottom: 14px;
    }
    .spec-display-inch{
        font-size: 17px;
    }
    .br-small-processor{
        display: block;
    }
    .br-medium-processor{
        display: block;
    }
    .br-large-processor, .br-large-front-camera, .br-large-usb, .br-large-keyboard{
        display: none;
    }
    .spec-detail{
        max-width: 140px;
        margin: 0 auto;
        
    }

    .spec-bottom-links{
        font-size: 19px;
        display: block;
    }
    .spec-links-compare{
        margin: 0 0 8px;
    }
    .spec-bottom-links::after{
        width: 5px;
        height: 5px;
    }
}