section{
    animation: rint 3s linear infinite;
    transform-style: preserve-3d;
}
@keyframes rint {
    from{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    to{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}